<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://manzatech.com.br/brewer"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Usuários</title>
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="mb-4">
			<a th:href="@{/usuarios}" class="btn btn-default"> <i
				class="fas fa-th-list"></i> &nbsp;Listar Usuários
			</a>
		</div>
		
		<th:block th:if="${message} != null">
			<th:block th:replace="/layout/fragments/mensagem :: message"  />
		</th:block>
	
		<form method="POST"  th:object="${usuario}" th:action="@{/usuarios/novo}">
			<div class="row">
				<div class="form-group col-sm-12 bw-required">
					<label for="nome" class="control-label" brewer:classForError="nome" >Nome</label>
					<input type="text" th:field="*{nome}" class="form-control" th:errorclass="is-invalid"/>
					<brewer:invalidfeedback field="nome"/>
				</div>
			</div>
            <div class="row">
                <div class="form-group col-sm-6 bw-required">
                    <label for="email" class="control-label" brewer:classForError="email">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" th:errorclass="is-invalid">
					<brewer:invalidfeedback field="email"/>
                </div>    
                <div class="form-group col-sm-3"  brewer:classForError="dataNascimento" >
                    <label for="dataNascimento" >Data de Nascimento</label>
                    <brewer:datepicker fieldName="dataNascimento" />
					<brewer:invalidfeedback field="dataNascimento"/>
                </div>
            </div>
			<div class="row">
                <div class="form-group col-sm-3" th:classappend="${usuario.novo} ? bw-required">
                    <label for="senha" class="control-label" brewer:classForError="senha">Senha</label>
                    <input type="password" th:field="*{senha}" class="form-control" th:errorclass="is-invalid">
					<brewer:invalidfeedback field="senha"/>
                </div>
                <div class="form-group col-sm-3" th:classappend="${usuario.novo} ? bw-required">
                    <label for="confirmarSenha" class="control-label" brewer:classForError="confirmarSenha">Confirmar Senha</label>
                    <input type="password" th:field="*{confirmarSenha}" class="form-control" th:errorclass="is-invalid">
					<brewer:invalidfeedback field="confirmarSenha"/>
                </div>
                <div class="form-group col-sm-3">
					<label for="sabor" class="ml-2">Ativo</label>
					<div>
						<div class="checkbox checkbox-inline d-inline-block ml-2">
							<input type="checkbox" th:field="*{ativo}" class="js-ativo" 
                                data-on-text="Sim" data-off-text="Não" data-on-color="success" 
                                data-off-color="danger" data-size="large" checked/>
						</div>
					</div>
                </div>
			</div>
			<div class="row">
                <div class="form-group col-sm-12 bw-required">
					<label for="grupos" class="control-label" brewer:classForError="grupos">Grupos</label>
					<div>
						<div th:each="grupo : ${grupos}" class="custom-control custom-checkbox checkbox d-inline ml-2">
							<input type="checkbox" class="custom-control-input" th:field="*{grupos}" th:value="${grupo.id}"/>
							<label th:for="${#ids.prev('grupos')}" class="custom-control-label bw-multi-checkbox" th:text="${grupo.nome}">Administrador</label>
						</div>
					</div>
					<brewer:invalidfeedback field="grupos" outside/>
                </div>    
			</div>
			<div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
			</div> 
		</form>
	</section>
	
	
    <th:block layout:fragment="pageStyles">
        <link th:href="@{/layout/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css}" type="text/css"/>
        <style>
            .js-ativo {
                height: 18px;
            }
        </style>
    </th:block>
    <th:block layout:fragment="pageScripts">
        <script th:src="@{/layout/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
        <script>
        	$(document).ready(() => {
                $('.js-ativo').bootstrapSwitch()
        	});
        </script>
    </th:block>
</body>

</html>