<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Brewer</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" th:href="@{/layout/img/favicon.png}" />
    <link rel="stylesheet" href="../../static/layout/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/layout/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/layout/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/layout/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/layout/vendor/Ionicons/css/ionicons.min.css" th:href="@{/layout/vendor/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" href="../../static/layout/css/AdminLTE.min.css" th:href="@{/layout/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="../../static/layout/css/skins/skin-blue.min.css" th:href="@{/layout/css/skins/skin-blue.min.css}">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">

    <!--[if lt IE 9]>
    <script src="../../static/layout/vendor/html5shiv/html5shiv.min.js" th:src="@{/layout/vendor/html5shiv/html5shiv.min.js}"></script>
    <script src="../../static/layout/vendor/respond/respond.min.js" th:src="@{/layout/vendor/respond/respond.min.js}"></script>
    <![endif]-->

    <section layout:fragment="additional-styles"></section>

    <link rel="stylesheet"
          href="../../staic/layout/vendor/SourceSansPro/SourceSansPro.css" th:href="@{/layout/vendor/SourceSansPro/SourceSansPro.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="fragments/Header :: header"></div>

    <div th:replace="fragments/SidebarMenu :: sidebarMenu"></div>

    <div th:replace="fragments/Content :: content"></div>

    <div th:replace="fragments/Footer :: footer"></div>

    <div th:replace="fragments/ControlSidebar :: controlSidebar"></div>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="../../static/layout/vendor/jquery/jquery.min.js" th:src="@{/layout/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../static/layout/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/layout/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script src="../../static/layout/js/adminlte.min.js" th:src="@{/layout/js/adminlte.min.js}"></script>

<section layout:fragment="footer-scripts"></section>

<!-- Brewer -->
<script src="../../static/layout/js/masked-components.js" th:src="@{/layout/js/masked-components.js}"></script>
<script src="../../static/layout/js/brewer.min.js" th:src="@{/layout/js/brewer.js}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>