 <!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/DefaultLayout}"
      xmlns:brewer="http://brewer.manzatech.org/"
>
<head>
    <title>Cadastro de Cliente</title>
</head>
<!-- Main content -->

<h1 layout:fragment="headerTitle">
    Cadastro de cliente
    <small>{Novo}</small>
</h1>

<section layout:fragment="conteudo" >

    <form method="POST" class="form-vertical" th:object="${cliente}">

        <brewer:message />

        <div class="form-group  bw-required required" brewer:classforerror="nome">
            <label for="input-cliente-nome" class="control-label">Nome</label>
            <input type="text" id="input-cliente-nome" class="form-control" th:field="*{nome}">
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4  bw-required required" brewer:classforerror="tipoPessoa">
                <label class="control-label">Tipo pessoa</label>
                <div class="btn-group radio-tipo-pessoa js-tipo-pessoa" data-toggle="buttons">
                    <th:block th:each="tp : ${tiposPessoa}">
                        <label class="btn btn-default" th:classappend="${tp} == *{tipoPessoa} ? 'active'">
                            <span th:text="${tp.nome}">Pessoa Física</span>
                            <input type="radio" autocomplete="off" th:value="${tp}" th:field="*{tipoPessoa}"
                                   th:data-mascara="${tp.mascara}" th:data-documento="${tp.documento}" />
                        </label>
                    </th:block>
                </div>
            </div>
            <div class="form-group col-sm-6 col-md-8  required bw-required" brewer:classforerror="cpfCnpj">
                <label for="input-cliente-documento" class="control-label js-label-documento">CPF</label>
                <input type="text" id="input-cliente-documento" class="form-control js-cpf-cnpj" th:field="*{cpfCnpj}" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group  ">
                <label for="input-cliente-telefone" class="control-label">Telefone</label>
                <input type="text" id="input-cliente-telefone" class="form-control js-telefone-celular" th:field="*{telefone}">
            </div>
            <div class="form-group col-sm-8 " brewer:classforerror="email">
                <label for="input-cliente-email" class="control-label">Email</label>
                <input id="input-cliente-email" class="form-control"  th:field="*{email}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group  ">
                <label for="input-cliente-logradouro" class="control-label">Logradouro</label>
                <input type="text" id="input-cliente-logradouro" class="form-control"  th:field="*{endereco.logradouro}">
            </div>
            <div class="col-sm-4 form-group ">
                <label for="input-cliente-numero" class="control-label">Número</label>
                <input type="text" id="input-cliente-numero" class="form-control"  th:field="*{endereco.numero}">
            </div>
            <div class="col-sm-4 form-group ">
                <label for="input-cliente-complemento" class="control-label">Complemento</label>
                <input type="text" id="input-cliente-complemento" class="form-control"  th:field="*{endereco.complemento}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="input-cliente-cep" class="control-label">CEP</label>
                <input type="text" id="input-cliente-cep" class="form-control js-cep"  th:field="*{endereco.cep}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="input-cliente-estado" class="control-label">Estado</label>
                <select id="input-cliente-estado" class="form-control" th:field="*{endereco.estado}">
                    <option value="">Selecione um estado</option>
                    <th:block th:each="estado : ${estados}">
                        <option th:value="${estado.id}" th:text="${estado.nome}">Nome qualquer</option>
                    </th:block>
                </select>
            </div>
            <div class="col-sm-4 form-group">
                <label for="input-cliente-cidade" class="control-label">Cidade</label>
                <div class="field-action">
                    <input type="hidden" id="id-cidade-selecionada" th:value="*{endereco.cidade != null } ? *{endereco.cidade.id}">
                    <select id="input-cliente-cidade" class="form-control" th:data-url="@{/cidades}" disabled  th:field="*{endereco.cidade}">
                        <option value="">Selecione uma cidade</option>
                    </select>
                    <div class="fiel-action__icon js-image-loading">
                        <img th:src="@{/layout/img/loading.gif}" th:width="24px">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

</section>

<div layout:fragment="footer-scripts" th:remove="tag">
    <script th:src="@{/layout/vendor/inputmask/inputmask.min.js}"></script>
    <script th:src="@{/layout/vendor/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/layout/vendor/inputmask/inputmask.numeric.extensions.min.js}"></script>
    <script th:src="@{/layout/js/cliente.combo-estado-cidade.js}"></script>
</div>


</body>

</html>