<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		xmlns:brewer="http://www.manzatech.com.br/brewer">

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img th:src="@{/images/small-logo.png}" alt="Brewer Logo" class="brand-image img-circle elevation-3" style="opacity: .8" ></img>
      <span class="brand-text font-weight-light">Brewer</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      	<brewer:gravatar classes="img-circle elevation-2" alt="User Image" size="160" />
        <div class="info">
          <a href="#" class="d-block" sec:authentication="principal.usuario.nome">Logged In User Name</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-fw fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>               
          
          <li class="nav-item" brewer:menu="estoque">
            <a href="#" class="nav-link" brewer:menu="estoque">
              <i class="nav-icon fas fa-truck"></i>
              <p>
                Estoque
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/estilos}" class="nav-link" brewer:menu="@{/estilos}">
<!--                   <i class="far fa-circle nav-icon"></i> -->
                  <p>Estilos</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/cervejas}" class="nav-link" brewer:menu="@{/cervejas}">
<!--                   <i class="far fa-circle nav-icon"></i> -->
                  <p>Cervejas</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item" brewer:menu="cadastro">
            <a href="#" class="nav-link" brewer:menu="cadastro">
              <i class="nav-icon fa fa-database"></i>
              <p>
                Cadastro
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/cidades}" class="nav-link" brewer:menu="@{/cidades}">
<!--                   <i class="far fa-circle nav-icon"></i> -->
                  <p>Cidades</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/clientes}" class="nav-link" brewer:menu="@{/clientes}">
<!--                   <i class="far fa-circle nav-icon"></i> -->
                  <p>Clientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/usuarios/novo}" class="nav-link" brewer:menu="@{/usuarios}">
<!--                   <i class="far fa-circle nav-icon"></i> -->
                  <p>Usuários</p>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</html>