<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Clientes</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<form method="POST"  >
			<div class="row">
				<div class="form-group col-sm-12">
					<label for="nome">Nome</label>
					<input type="text" name="nome" class="form-control" />
				</div>
			</div>
            <div class="row">
				<div class="form-group col-sm-4">
					<label for="sabor">Tipo de Pessoa</label>
					<div>
						<th:block th:each="tp : ${tiposPessoa}">
							<div class="radio radio-inline d-inline-block">
								<input th:id="|id_${tp.nome}|" type="radio" name="tipoPessoa" class="js-radio-tipo-pessoa" 
									th:data-documento="${tp.documento}" th:data-mascara="${tp.mascara}" />
								<label class="control-label" th:for="|id_${tp.nome}|" >[[${tp.nome}]]</label>
							</div>						
						</th:block>
					</div>
				</div>
                <div class="form-group col-sm-8">
                    <label for="documento">Documento</label>
                    <input type="text" id="documento" nome="documento" class="form-control" disabled>
                </div>    
            </div>
			<div class="row">
                <div class="form-group col-sm-4">
                    <label for="telefone">Telefone</label>
                    <input type="text" nome="telefone" class="form-control js-phone-number">
                </div>
                <div class="form-group col-sm-8">
                    <label for="email">Email</label>
                    <input type="text" nome="email" class="form-control">
                </div>    
			</div>
			<div class="row">
                <div class="form-group col-sm-4">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" nome="logradouro" class="form-control">
                </div>    
                <div class="form-group col-sm-4">
                    <label for="numero">Número</label>
                    <input type="text" nome="numero" class="form-control">
                </div>    
                <div class="form-group col-sm-4">
                    <label for="complemento">Complemento</label>
                    <input type="text" nome="complemento" class="form-control">
                </div>    
			</div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="cep">CEP</label>
                    <input type="text" nome="cep" class="form-control js-cep">
                </div>
                <div class="form-group col-sm-4">
                    <label for="estado">Estado</label>
                    <select name="estado" class="form-control">
                        <option value="">Selecione um estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.nome}">São Paulo</option>
                    </select>
                </div>                    
                <div class="form-group col-sm-4">
                    <label for="cidade">Cidade</label>
                	<div class="bw-field-action">
	                    <select name="cidade" class="form-control" th:data-url="@{/cidades}" disabled>
	                        <option value="">Selecione uma cidade</option>
	                    </select>
	                    <div class="bw-field-action__icon js-img-loading d-none" >
	                    	<img th:src="@{/images/mini-loading.gif}" alt="Loading" height="16"/>
	                    </div>
                	</div>                
                </div>                    
            </div>
			<div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
			</div> 
		</form>
	</section>
	
	<section layout:fragment="pageScripts">
		<script th:src="@{/js/cliente.mascara-cpf-cnpj.js}"></script>
		<script th:src="@{/js/cliente.mascara-cep.js}"></script>
		<script th:src="@{/js/cliente.combo-cidade.js}"></script>
	</section>

</body>

</html>