<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>

<div class="alert alert-danger alert-dismissable" role="alert" th:if="${#fields.hasAnyErrors()}" th:fragment="validationErrorMessages">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times</span>
    </button>
    <th:block th:each="error : ${#fields.detailedErrors()}">
        <div><i class="fa fa-exclamation-circle"></i> [[${error.message}]]</div>
    </th:block>
</div>

</body>

</html>