<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/DefaultLayout}"
>
<body>

<head>
    <title>Cadastro de Estilo</title>
</head>
<!-- Main content -->

<h1 layout:fragment="headerTitle">
    Cadastro de estilo
    <small>{novo}</small>
</h1>

<section layout:fragment="conteudo">

    <th:block th:include="fragments/ValidationSuccessMessage"></th:block>

    <form th:object="${estilo}" class="form-vertical" method="post">
        <th:block th:include="fragments/ValidationErrorMessages"></th:block>
        <div class="form-group">
            <label for="input-estilo-rapido-nome" class="control-label ">Nome</label>
            <input type="text" id="input-estilo-rapido-nome" class="form-control" th:field="*{nome}"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</section>


</body>
</html>