<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<h1>Olá - Thymeleaf Configurado!</h1>
   
<form method="post" th:object="${cerveja}">

    <div th:each="erro : ${(#fields.detailedErrors())}">
        <span th:text="${erro.message}"></span>
    </div>
    <span th:text="${mensagem}"></span>
    <label for="sku">SKU</label>
    <input type="text" name="sku" id="sku" th:field="*{sku}"/><br>
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" th:field="*{nome}"/><br>
    <label for="descricao">Descrição</label>
    <textarea name="descricao" id="descricao" th:field="*{descricao}"></textarea><br>
    <button type="submit">Enviar!</button>
</form>
</body>
</html>